HTML/Lr11/xml.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema
xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="root">
 <xs:complexType>
 <xs:sequence>
 <xs:element name="beg" type="xs:string"/>
 <xs:element name="mid" type="xs:string"/>
 <xs:element name="end" type="xs:string"/>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
</xs:schema>